:root{
    --main-color1: #BF4974;
    --main-color2: #8C3F63;
    --main-color3: #8F94A6;
    --main-color4: #132B40;
    --main-color5: #D9A566;
}

@font-face { font-family: 'Title-Font';
    src: local('PixelSplitter-Bold.tff'),
        url('../fonts/pixelsplitter/PixelSplitter-Bold.ttf') format('truetype');
}
@font-face { font-family: 'Standard-Font';
    src: local('HWYGCOND.tff'),
    url('../fonts/highway_gothic/HWYGNRRW.ttf') format('truetype');
}

/*
body{
    background: var(--main-color4);
}
*/